<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlb.ecp.login.mapper.UserMapper">

	<!-- <resultMap type="User" id="UserResult">
		<result property="gid" column="GID" />
		<result property="userName" column="LOGIN_MAIL" />
		<result property="password" column="LOGIN_PSW" />
		<result property="relName" column="REL_NAME" />
	</resultMap> -->

	<select id="userLoginApp" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
		(SELECT
		WM_CONCAT(DISTINCT U.ROLE_CODE) ROLE_CODE
		FROM U_USER_ROLE U
		WHERE U.USER_GID = B.GID) AS ROLEFLAG,
		B.GID AS GID,
		B.LOGIN_MAIL AS
		LOGINMAIL,
		B.TOTAL_SCORE AS TOTALSCORE,
		B.HEADER_PIC AS HEADERPIC,
		B.USER_STATE AS USERSTATE,
		B.SPACE_STATUS AS SPACESTATUS,
		B.SUBJECT_GID
		AS SUBJECTGID,
		B.SCHOOL_CLASS_GID AS SCHOOLCLASSGID,
		B.SCHOOL_GID AS
		SCHOOLGID,
		B.TOWN_GID AS TOWNGID,
		B.USER_CODE AS USERCODE,
		B.REL_NAME AS
		RELNAME,
		B.LOGIN_PSW AS LOGINPSW,
		B.DETAIL_INFO_GID AS DETAILINFOGID,
		B.USER_TYPE USERTYPE,
		D.USER_TEL AS USERTEL,
		D.USER_SEX AS USERSEX,
		D.IDCARD_NUM AS IDCARDNUM,
		D.BRITH_DAY AS BRITHDAY,
		D.USER_TITLE AS
		USERTITLE,
		D.USER_STATION AS USERSTATION,
		S.DIC_NAME AS USERSTATIONNAME,
		SS.DIC_NAME AS USERTITLENAME,
		TOWN.DIC_NAME AS TOWNNAME,
		CITY.GID AS
		CITYGID,
		CITY.DIC_NAME AS CITYNAME,
		PRV.GID AS PROVINCEGID,
		PRV.DIC_NAME
		AS PROVINCENAME,
		(SELECT DECODE(NVL(LENGTH(TRIM(B.MENUCODE)), 0),
		0,
		A.MENUCODE,
		B.MENUCODE) MENUCODE
		FROM (SELECT WM_CONCAT(DISTINCT
		G.GROUP_MENU) MENUCODE,
		1 TYPE,
		1 CODE
		FROM U_DESKTOP_MENU_GROUP G
		WHERE
		G.GROUP_ROLE IN
		(SELECT K.ROLE_CODE
		FROM U_USER_ROLE K
		WHERE K.USER_GID
		IN B.GID)
		OR G.GID IN
		(SELECT DECODE(UDU.USER_TYPE,
		'1',
		UD.LEADER_DESKTOP_GROUP_GID,
		'2',
		UD.DEPUTY_DESKTOP_GROUP_GID,
		'3',
		UD.SUBORDINATE_DESKTOP_GROUP_GID)
		FROM U_DEPARTMENT_USER UDU
		INNER JOIN
		U_DEPARTMENT UD ON UD.GID = UDU.DEP_GID
		WHERE UDU.USER_GID IN B.GID))
		A,
		(SELECT WM_CONCAT(DISTINCT T.MENU_CODE) MENUCODE,
		2 TYPE,
		1 CODE
		FROM
		U_USER_DESKTOP_MENU T
		WHERE T.USER_GID IN B.GID) B
		WHERE A.CODE =
		B.CODE(+)) USERDESKCODE,
		(SELECT T.GID FROM P_PORTAL_INFO T WHERE
		T.SCHOOL_GID = B.SCHOOL_GID)
		PORTALGID,
		1 AS ISBANG,
		B.DESK_BACKGROUND AS
		DESKBACKGROUND
		FROM S_USER_BASIC_INFO B
		LEFT JOIN S_USER_DETAIL_INFO D
		ON B.DETAIL_INFO_GID = D.GID
		LEFT JOIN S_DICTIONARY S ON D.USER_STATION
		= S.GID
		LEFT JOIN S_DICTIONARY SS ON D.USER_TITLE = SS.GID
		LEFT JOIN
		S_DICTIONARY TOWN ON B.TOWN_GID = TOWN.GID
		LEFT JOIN S_DICTIONARY CITY
		ON TOWN.PARENT_GID = CITY.GID
		LEFT JOIN S_DICTIONARY PRV ON
		CITY.PARENT_GID = PRV.GID
		WHERE (LOWER(B.LOGIN_MAIL) = #{LOGIN_MAIL}
		AND B.LOGIN_PSW = #{LOGIN_PSW})
		OR (EXISTS (SELECT SUD.GID
		FROM
		S_USER_DETAIL_INFO SUD
		WHERE SUD.GID = B.DETAIL_INFO_GID
		AND
		SUD.IDCARD_NUM = #{IDCARD_NUM}) AND B.LOGIN_PSW = #{LOGIN_PSW})
	</select>

	<select id="findLoginMail" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT COUNT(T.GID) AS COUNT_NUM
		FROM S_USER_BASIC_INFO T
		WHERE LOWER(T.LOGIN_MAIL) =
		LOWER(#{LOGIN_MAIL})
		OR EXISTS (SELECT *
		FROM S_USER_DETAIL_INFO SUD
		WHERE SUD.GID = T.DETAIL_INFO_GID
		AND SUD.IDCARD_NUM = #{IDCARD_NUM})
	</select>

	<select id="selectUserPosition" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT *
		FROM (SELECT K.*, ROWNUM AS RO
		FROM (SELECT POSITION AS USERPOSITION, USER_GID, DEP_GID
		FROM (SELECT DECODE(UDU.USER_TYPE,
		'1',
		UD.DEP_NAME || UD.LEADER_NAME,
		'2',
		UD.DEP_NAME || UD.DEPUTY_NAME) AS POSITION,
		UDU.USER_GID,
		UDU.DEP_GID
		FROM U_DEPARTMENT_USER UDU, U_DEPARTMENT UD
		WHERE UDU.DEP_GID = UD.GID(+)
		AND UDU.SCHOOL_GID = #{SCHOOL_GID}
		AND UDU.USER_GID = #{USER_GID}
		AND UDU.USER_TYPE != '3'
		ORDER BY UD.ORDER_NUM)) K) KK
		WHERE KK.RO = 1
	</select> 

</mapper>
